@model SicoInacap.Models.Evento

@{
    ViewBag.Title = "Details";
}

<!-- Migas de pan -->
<nav aria-label="breadcrumb" class="mt-2 mb-5">
    <ol class="breadcrumb bg-dark">
        <li class="breadcrumb-item">@Html.ActionLink("Gestion de Eventos", "Index", "evento", null)</li>
        <li class="breadcrumb-item active">Detalles del Personal</li>
    </ol>
</nav>

<!-- /Migas de pan -->


<div class="col-md-12" style="margin-top:80px;">
    <div class="card card-profile">
        <div class="card-avatar bg-dark">
            <img src="~/img/evento.png" />
        </div>
        <div class="card-body">
            <h5 class="card-category text-gray">@Html.DisplayFor(model => model.Nombre)</h5>
            <h6 class="card-title">Encargado: @Html.DisplayFor(model => model.Administrador.Username)</h6>
            <h6 class="card-title">Categoria: @Html.DisplayFor(model => model.Categoria.Nombre)</h6>
            <h6 class="card-title">Estado: @Html.DisplayFor(model => model.EstadoEvento.Nombre)</h6>
            <p class="card-description">
                @Html.DisplayFor(model => model.Descripcion)
            </p>

            <!-- Boton Regresar -->
            <span class="badge badge-pill badge-success mb-2">
                @Html.ActionLink("Regresar", "Index", null, new { @class = "nav-link text-light" })
            </span>
            <!-- /Boton Regresar -->
        </div>
    </div>
</div>
