@model IEnumerable<SicoInacap.Models.Evento>

@{
    ViewBag.Title = "Index";
}



<nav aria-label="breadcrumb" class="mt-2">
    <ol class="breadcrumb bg-dark">
        <li class="breadcrumb-item">@Html.ActionLink("Gestion de Eventos", "Index", "evento", null)</li>
    </ol>
</nav>
<span class="label label-success">

</span>

<span class="badge badge-pill badge-primary mb-2">
    @Html.ActionLink("Crear Nuevo Evento", "Create", null, new { @class = "nav-link text-light" })
</span>


<div class="card">
    <div class="card-header card-header-success text-center">
        <h4 class="card-title">Nuestros Eventos</h4>
    </div>
    <div class="card-body table-responsive">
        <table class="table bg-dark text-light rounded">
            <thead class="text-primary text-center">
                <tr>
                    <th>
                        Encargado
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Categoria.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EstadoEvento.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Miembro.Fono)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Administrador.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoEvento.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Miembro.Fono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td class="td-actions text-center">
                        <a href="@Url.Action("Edit", "evento",new { id = item.Codigo })" class="btn btn-warning">
                            <i class="material-icons">edit</i>
                            <span>
                                <strong>Editar</strong>
                            </span>
                        </a>
                        <a href="@Url.Action("Details", "evento",new { id = item.Codigo })" class="btn btn-info">
                            <i class="material-icons">recent_actors</i>
                            <span>
                                <strong>Detalles</strong>
                            </span>
                        </a>
                        <a href="@Url.Action("Delete", "evento",new { id = item.Codigo })" class="btn btn-danger">
                            <i class="material-icons">delete_sweep</i>
                            <span>
                                <strong>Eliminar</strong>
                            </span>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

