@model SicoInacap.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Administrador.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Administrador.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Miembro.Fono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miembro.Fono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Simpatizante.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Simpatizante.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInscripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInscripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Username }) |
    @Html.ActionLink("Back to List", "Index")
</p>
