@model IEnumerable<SicoInacap.Models.Recinto>

@{
    ViewBag.Title = "Inicio Recinto";
}

<h2>Inicio</h2>

<p>
    @Html.ActionLink("Crear Nuevo Recinto", "Create")
</p>


    


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Latitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Latitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.ActionLink("Modificar", "Edit", new { id = item.Codigo }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.Codigo }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.Codigo })|

            </td>
        </tr>
    }

</table>
