@model SicoInacap.Models.Agenda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Agenda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Evento.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evento.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recinto.Latitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recinto.Latitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraTermino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraTermino)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Codigo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
